<?php

/**
 * @var Paygol\PaygolMagento\Block\Pending $block
 */
?>
<p><?php echo $block->escapeHtml($block->getMessage());?></p>
<p><?php /* @escapeNotVerified */ echo __('Click <a href="%1" target="_top">here</a> to continue shopping.', $block->escapeUrl($block->getUrlHome())) ?></p>