<!-- ko foreach: metodosdepago -->
<div
    class="payment-method"
    data-bind="
        class: name,
        click: $parent.clickPaymentMethod(code),
        css: {'_active': $parent.isOptionActive(code) &&
                                 $parent.getCode() == $parent.isChecked() }"
>
    <div class="payment-method-title field choice">
        <div class="payment-method-title-logo">
            <input
                type="radio"
                name="payment[method]"
                class="radio"
                data-bind="attr: {'id': code },
                    value: code,
                    checked: false,
                    click: $parent.selectPaymentMethod.bind($parent, code),
                    visible: $parent.isRadioButtonVisible()"
            />
            <img data-bind="attr: {alt: name, src: image }" class="payment-icon"/>
        </div>
        <div class="payment-method-title-label">
            <label class="label" data-bind="attr: {'for': $parent.getCode()}">
                <p style="margin-bottom: 0px" data-bind="text: name"></p>
                <!--<p><small data-bind="text: description"></small></p>-->
            </label>
        </div>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: $parent.getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parents[1].getRegion($parent.getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button
                    class="action primary checkout"
                    type="submit"
                    data-bind="
                        click: $parent.placeOrder.bind($parent),
                        attr: {title: $t('Place Order')}
                        "
                >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--/ko-->
