/*paygolmagento styles*/

.checkout-payment-method .payment-method .payment-method-title{
    display: flex;
    align-items: center;
    padding: 0;
    height: 60px;
}
.checkout-payment-method .payment-method.Webpay .payment-method-title,
.checkout-payment-method .payment-method.Multicaja .payment-method-title,
.checkout-payment-method .payment-method.MACH .payment-method-title,
.checkout-payment-method .payment-method.Khipu .payment-method-title{
    display: flex;
    align-items: center;
}

.checkout-payment-method .payment-method .payment-method-title-logo{
    display: flex;
    align-items: center;
}

.checkout-payment-method .payment-method .payment-method-title input[type="radio"]{
    height: 1.6rem;
    width: 1.6rem;
    margin: 0 10px 0 0;
}

.checkout-payment-method .payment-method .payment-method-title-logo .payment-icon{
    /* width: 100px; */
    height: 35px;
    /* object-fit: cover; */
}

.checkout-payment-method .payment-method.Webpay .payment-method-title-logo .payment-icon{
    width: 120px;
}

.checkout-payment-method .payment-method.Multicaja .payment-method-title-logo .payment-icon{
    width: 67px;
    height: 40px;
    padding-top: 5px;
}

.checkout-payment-method .payment-method .payment-method-title-label{
    width: 400px;
    display: none;
}